name: Dependabot Auto-Merge

on:
    pull_request_target:
        types: [opened, synchronize, reopened, ready_for_review]

permissions:
    contents: write
    pull-requests: write

jobs:
    enable-auto-merge:
        if: github.actor == 'dependabot[bot]'
        runs-on: ubuntu-latest
        steps:
            - name: Fetch metadata
              id: meta
              uses: dependabot/fetch-metadata@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Enable auto-merge
              uses: peter-evans/enable-pull-request-automerge@v3
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  pull-request-number: ${{ github.event.pull_request.number }}
                  merge-method: merge
